.block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {

    width: 200px;
    max-height: 500px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #453b3b;

    @media(max-width: 400px) {
      top: 60px;
    }

    .element {
      font-weight: bold;
      font-size: 17px;
    }
  }
}