.container {
  width: 100%;
  height: 40px;
  background-color: #3b7e90;
  padding: 20px;
  text-align: right;
}

a{
  margin: 50px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
a:hover {
color: #61dafb
}
