.app {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 1000px;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  height: 40px;
  background-color: #3b7e90;
  padding: 20px;
  text-align: right;
  @media (max-width: 685px) {
    text-align: left;
  }
}

.basket {
  white-space: nowrap;
}


a{
  margin: 50px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
a:hover {
  color: #61dafb
}
